###> IDE ###
.idea
###< IDE ###

###> vendor ###
/vendor/
/vendor-bin/*/vendor/
###< vendor ###

###> tools cache ###
/var/
/.php-cs-fixer.cache
.phpcs-cache
###< tools cache ###

###> editor backups ###
*~
###< editor backups ###
